# 作为模板（不包含敏感信息）
# 环境设置
ENV=development

# 开发环境数据库
DEV_DB_DRIVER=mysql+mysqlconnector
DEV_DB_USER=root
DEV_DB_PASSWORD=aa123456
DEV_DB_HOST=localhost
DEV_DB_PORT=3306
DEV_DB_NAME=ticket_monitor_db

# 生产环境数据库
PROD_DB_DRIVER=mysql+mysqlconnector
PROD_DB_USER=root
PROD_DB_PASSWORD=aa123456
PROD_DB_HOST=localhost
PROD_DB_PORT=3306
PROD_DB_NAME=ticket_monitor_db_prod

# 测试环境数据库
TEST_DB_DRIVER=mysql+mysqlconnector
TEST_DB_USER=root
TEST_DB_PASSWORD=aa123456
TEST_DB_HOST=localhost
TEST_DB_PORT=3306
TEST_DB_NAME=ticket_monitor_db_test